﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
	<title>@ViewBag.Title - KfzKonfiguration</title>
	@*<link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700|" rel="stylesheet" type="text/css">*@

	@Styles.Render("~/fonts/font-awesome.min.css")
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/style.css")

	@RenderSection("styles", required: false)

	@Scripts.Render("~/bundles/modernizr")

	@Scripts.Render("~/bundles/jquery")

	@RenderSection("head_scripts", required: false)


</head>
<body>

	@*<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="../" class="navbar-brand">KfzKonfiguration</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					<li>@Html.ActionLink("Service", "Service", "Configuration")</li>
				</ul>

			</div>
		</div>
	</div>*@


	<div id="site-content">
		<header  class="site-header navbar navbar-default">
			@*//navbar-fixed-top style="background-color:black; padding:00px 0px 0px 0px;"*@
			<div class="container">
				<a id="branding" href="../home">
					<img src="../images/logo.png" alt="Company Logo" class="logo" href="../home">
					@*<h1 class="site-title">@Html.ActionLink("KfzKonfiguration", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h1>*@
					<h1 class="site-title">KfzKonfiguration</h1>
				</a>
				<nav class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item">@Html.ActionLink("Home", "Index", "Home")</li>
						<li class="menu-item">@Html.ActionLink("About", "About", "Home")</li>
						<li class="menu-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
						@*<li class="menu-item current-menu-item"><a href="services.html">Services</a></li>*@
						<li class="menu-item">@Html.ActionLink("Service", "Service", "Configuration")</li>

					</ul>

					@*@Html.Partial("_LoginPartial")*@

				</nav>
				<nav class="mobile-navigation"></nav>
			</div>
		</header> 
	<!-- .site-header -->

		<main class="main-content">

			<div class="fullwidth-block content">
				@*style="padding:200px 0px 0px 0px;"*@
				<div class="container">
					@RenderBody()
				</div>
			</div>

		</main> <!-- .main-content -->

		<footer class="site-footer navbar navbar-default">
			<div class="container">
				<!--
									<div class="subscribe-form">
										<form action="#">
											<input type="text" placeholder="Enter your email to subscribe...">
											<button type="submit"><img src="images/icon-envelope-white.png" alt=""></button>
										</form>
									</div>
				-->
				<div class="social-links">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
				</div>
				<div class="copy">
					<p>&copy; @DateTime.Now.Year - KfzKonfiguration</p>
				</div>
			</div>
		</footer> <!-- .site-footer -->
	</div> <!-- #site-content -->

	@Scripts.Render("~/bundles/bootstrap")

	<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>

	@Scripts.Render("~/bundles/newapp")

	@RenderSection("scripts", required: false)
	@*scripts section -> Name: scripts neu ktrang con co thi se nhung phan section cua tring con vao doan nay
		khi server tra ve file text html,*@
</body>
</html>
