/*!
 * Project_Name: Themezy Car Workshop
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

	audio:not([controls]) {
		display: none;
		height: 0;
	}

[hidden], template {
	display: none;
}

html {
	background: #fff;
	color: #000;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
	font-family: sans-serif;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

	a:focus {
		outline: thin dotted;
	}

	a:hover, a:active {
		outline: 0;
	}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

	q:before,
	q:after {
		content: '';
		content: none;
	}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

	button[disabled],
	input[disabled] {
		cursor: default;
	}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/*
 * Global Styles
 */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: normal;
	color: #929292;
}

@media screen and (max-width: 990px) {
	body {
		font-size: 90%;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 80%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Titillium Web", "Open Sans", sans-serif;
	color: #383737;
	margin-top: 0;
}

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

p {
	margin-top: 0;
}

.text-center {
	text-align: center;
}

form input:not([type="submit"]), form select, form textarea {
	border: 2px solid #e1e1e1;
	padding: 10px 10px 10px 40px;
	background-position: -5px 12px;
	background-repeat: no-repeat;
	display: block;
	font-family: "Titillium Web", "Open Sans", sans-serif;
	margin-bottom: 10px;
	width: 100%;
	outline: none;
	transition: .3s ease;
}

	form input:not([type="submit"]):hover, form input:not([type="submit"]):focus, form select:hover, form select:focus, form textarea:hover, form textarea:focus {
		border-color: #f63f3f;
	}

form input[type="submit"] {
	padding: 10px 20px;
	background: #f63f3f;
	color: white;
	font-family: "Titillium Web", "Open Sans", sans-serif;
	border: none;
	outline: none;
}

	form input[type="submit"]:hover, form input[type="submit"]:active, form input[type="submit"]:focus {
		background-color: #f87070;
	}

/*
 * Reusable Components Style
 */
/* button */
.button {
	display: inline-block;
	padding: 10px 30px;
	background-color: #f63f3f;
	color: white;
	font-family: "Titillium Web", "Open Sans", sans-serif;
	transition: .3s ease;
}

	.button.invert {
		background-color: white;
		color: #f63f3f;
		font-weight: 700;
	}

		.button.invert:hover {
			background-color: rgba(255, 255, 255, 0.8);
		}

	.button:hover {
		background-color: #f86666;
	}

/* fullwidth-block */
.fullwidth-block {
	padding: 30px 0 50px;
	overflow: hidden;
}

/* section title */
.section-title {
	font-size: 60px;
	font-size: 3.75em;
	padding-bottom: 45px;
	position: relative;
	text-align: center;
	font-weight: 400;
	margin: 30px 0 50px;
	color: #383737;
}

.dark-bg .section-title {
	color: white;
}

.section-title:after {
	content: " ";
	width: 50px;
	height: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/* section description */
.section-desc {
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}

/* Counter */
.counter {
	margin-bottom: 30px;
	border-right: 1px solid #dadada;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.counter {
		border-right: none;
	}
}

.counter.last {
	border-right: none;
}

.counter .counter-icon {
	margin-bottom: 20px;
}

.counter .counter-num {
	font-size: 72px;
	font-size: 4.5em;
	margin-bottom: 0;
	color: #f63f3f;
	line-height: 70px;
}

.counter .counter-label {
	font-size: 18px;
	font-size: 1.125em;
	font-family: "Titillium Web", "Open Sans", sans-serif;
}

/* Team */
.team {
	text-align: center;
	margin-bottom: 30px;
}

	.team .team-image {
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 20px;
		width: 250px;
		height: 250px;
		display: inline-block;
	}

		.team .team-image img {
			display: block;
		}

	.team .team-name {
		font-size: 21px;
		font-size: 1.3125em;
		color: white;
		text-transform: uppercase;
		margin-bottom: 0;
	}

	.team .team-desc {
		font-size: 16px;
		font-size: 1em;
	}

	.team .team-social {
		margin-top: 20px;
	}

		.team .team-social a {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			display: inline-block;
			background-color: #f63f3f;
			color: white;
			text-align: center;
			line-height: 2.3;
			transition: .3s ease;
		}

			.team .team-social a:hover {
				background-color: #f87070;
			}

	.team.image-left {
		padding-left: 370px;
		position: relative;
		min-height: 250px;
		text-align: left;
		margin: 50px 0 100px;
		box-sizing: padding-box;
	}

@media screen and (max-width: 990px) {
	.team.image-left {
		padding-left: 300px;
	}
}

@media screen and (max-width: 640px) {
	.team.image-left {
		padding-left: 0;
		text-align: center;
	}
}

.team.image-left .team-image {
	width: 260px;
	height: 260px;
	border: 10px solid #dedede;
	position: absolute;
	left: 0;
	top: 0;
}

@media screen and (max-width: 640px) {
	.team.image-left .team-image {
		position: relative;
		margin: 0 auto 30px;
	}
}

.team.image-left .team-image img {
	width: 100%;
	max-width: 100%;
}

.team.image-left .team-name {
	text-transform: uppercase;
	color: #f63f3f;
	font-size: 24px;
	font-size: 1.5em;
}

.team.image-left .team-desc {
	display: block;
	margin-bottom: 20px;
}

.team.image-left .team-social a {
	width: 45px;
	height: 45px;
	line-height: 2.4;
	font-size: 20px;
	font-size: 1.25em;
}

/* feature */
.feature-grid {
	*zoom: 1;
}

	.feature-grid:after {
		content: " ";
		clear: both;
		display: block;
		overflow: hidden;
		height: 0;
	}

.feature {
	margin-bottom: 30px;
	padding-left: 100px;
	position: relative;
}

	.feature .feature-icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: #f63f3f;
		text-align: center;
		line-height: 5.8;
	}

		.feature .feature-icon img {
			display: inline-block;
		}

	.feature .feature-title {
		font-size: 18px;
		font-size: 1.125em;
		color: #f63f3f;
	}

.feature-grid .feature {
	background: #1b1b1b;
	margin-bottom: 0;
	padding: 50px 30px !important;
	text-align: center;
}

	.feature-grid .feature:nth-child(even) {
		background-color: #242424;
	}

	.feature-grid .feature .feature-image {
		margin-bottom: 20px;
	}

	.feature-grid .feature .feature-title {
		font-size: 36px;
		font-size: 2.25em;
		margin-bottom: 10px;
		color: white;
		text-transform: uppercase;
		white-space: nowrap;
		display: inline-block;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.feature-grid .feature p {
		margin-bottom: 0;
	}

/* news */
.news {
	list-style: none;
	padding-left: 0;
	margin: 0 0 50px;
}

	.news li {
		position: relative;
		padding-left: 100px;
		min-height: 100px;
		margin-bottom: 10px;
	}

		.news li .entry-date {
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			width: 100px;
			height: 100%;
			background-color: white;
			text-align: center;
			padding-top: 10px;
		}

			.news li .entry-date .date {
				color: #f63f3f;
				font-size: 48px;
				font-size: 3em;
				font-weight: 700;
				display: block;
			}

			.news li .entry-date .month {
				font-family: "Titillium Web", "Open Sans", sans-serif;
				text-transform: uppercase;
				font-weight: 700;
			}

		.news li .entry-summary {
			padding: 20px 30px;
			color: white;
			background-color: #d13939;
			min-height: 100px;
			font-size: 18px;
			font-size: 1.125em;
			line-height: 1.5;
		}

/* Gallery item */
.gallery-item {
	margin-bottom: 30px;
}

	.gallery-item .featured-image {
		position: relative;
		margin-bottom: 0;
	}

		.gallery-item .featured-image img {
			display: block;
			width: 100%;
			max-width: 100%;
		}

		.gallery-item .featured-image figcaption {
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 10px 20px;
			color: white;
			font-family: "Titillium Web", "Open Sans", sans-serif;
			background-color: #1b1b1b;
			border-bottom: 3px solid #f63f3f;
		}

/* Filterable nav */
.filterable-nav {
	display: inline-block;
	margin: 0 auto;
	padding: 0 80px;
	border: 2px solid #dfdfdf;
	margin-bottom: 50px;
}

	.filterable-nav .mobile-filter {
		display: none;
	}

	.filterable-nav a {
		padding: 20px 10px;
		display: inline-block;
		margin-bottom: -2px;
		color: #dfdfdf;
		text-transform: uppercase;
		font-family: "Titillium Web", "Open Sans", sans-serif;
		border-bottom: 1px solid transparent;
		transition: .3s ease;
	}

		.filterable-nav a.current, .filterable-nav a:hover {
			border-bottom: 2px solid #f63f3f;
			color: #f63f3f;
		}

/* Filterable items */
.filterable-items .filterable-item {
	transition-property: transform, opacity;
	transition-duration: .3s;
}

.filterable-items {
	margin: 0 -15px;
}

.filterable-item {
	padding: 0 15px;
	width: 33.3333%;
	float: left;
}

@media screen and (max-width: 768px) {
	.filterable-item {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.filterable-item {
		width: 100%;
	}
}

/**** disabling Isotope CSS3 transitions ****/
/* line 435, ../sass/template/_components.scss */
.filterable-items.no-transition,
.filterable-items.no-transition .filterable-item,
.filterable-items .filterable-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

.contact-form {
	margin-bottom: 50px;
}

	.contact-form #name {
		background-image: url("images/icon-contact-name.png");
	}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.contact-form #name {
		background-image: url("images/icon-contact-name@2x.png");
		background-size: 38px 19px;
	}
}

.contact-form #email {
	background-image: url("images/icon-contact-email.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.contact-form #email {
		background-image: url("images/icon-contact-email@2x.png");
		background-size: 36px 19px;
	}
}

.contact-form #website {
	background-image: url("images/icon-contact-globe.png");
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.contact-form #website {
		background-image: url("images/icon-contact-globe@2x.png");
		background-size: 36px 19px;
	}
}

.contact-form #message {
	background-image: url("images/icon-contact-pencil.png");
	min-height: 200px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
	.contact-form #message {
		background-image: url("images/icon-contact-pencil@2x.png");
		background-size: 36px 19px;
	}
}

.map {
	min-height: 350px;
}

address {
	background: #1b1b1b;
	color: white;
	font-family: "Titillium Web", "Open Sans", sans-serif;
	border-bottom: 3px solid #f63f3f;
	padding: 10px 20px;
	font-size: 14px;
	font-size: 0.875em;
}

	address a {
		color: white;
		margin-left: 20px;
	}

/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox {
	cursor: pointer;
	position: fixed;
	z-index: 10000;
	-ms-touch-action: none;
	touch-action: none;
	-webkit-box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
	/* 50 */
	box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.75);
	/* 50 */
}

/* ACTIVITY INDICATION */
#imagelightbox-loading,
#imagelightbox-loading div {
	border-radius: 50%;
}

#imagelightbox-loading {
	width: 2.5em;
	/* 40 */
	height: 2.5em;
	/* 40 */
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em;
	/* 10 */
	margin: -1.25em 0 0 -1.25em;
	/* 20 */
	-webkit-box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
	/* 40 */
	box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.75);
	/* 40 */
}

	#imagelightbox-loading div {
		width: 1.25em;
		/* 20 */
		height: 1.25em;
		/* 20 */
		background-color: #fff;
		-webkit-animation: imagelightbox-loading .5s ease infinite;
		animation: imagelightbox-loading .5s ease infinite;
	}

@-webkit-keyframes imagelightbox-loading {
	from {
		opacity: .5;
		-webkit-transform: scale(0.75);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1);
	}

	to {
		opacity: .5;
		-webkit-transform: scale(0.75);
	}
}

@keyframes imagelightbox-loading {
	from {
		opacity: .5;
		transform: scale(0.75);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: .5;
		transform: scale(0.75);
	}
}
/* OVERLAY */
#imagelightbox-overlay {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* "CLOSE" BUTTON */
#imagelightbox-close {
	width: 2.5em;
	/* 40 */
	height: 2.5em;
	/* 40 */
	text-align: left;
	border: none;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em;
	/* 40 */
	right: 2.5em;
	/* 40 */
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

	#imagelightbox-close:hover,
	#imagelightbox-close:focus {
		background-color: #111;
	}

	#imagelightbox-close:before,
	#imagelightbox-close:after {
		width: 2px;
		background-color: #fff;
		content: '';
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 50%;
		margin-left: -1px;
	}

	#imagelightbox-close:before {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#imagelightbox-close:after {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

/* CAPTION */
#imagelightbox-caption {
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em;
	/* 10 */
}

/* NAVIGATION */
#imagelightbox-nav {
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em;
	/* 60 */
	padding: 0.313em;
	/* 5 */
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

	#imagelightbox-nav button {
		width: 1em;
		/* 20 */
		height: 1em;
		/* 20 */
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		margin: 0 0.313em;
		/* 5 */
	}

		#imagelightbox-nav button.active {
			background-color: #fff;
		}

/* ARROWS */
.imagelightbox-arrow {
	width: 3.75em;
	/* 60 */
	height: 7.5em;
	/* 120 */
	background-color: #444;
	background-color: rgba(0, 0, 0, 0.5);
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em;
	/* 60 */
	border: none;
}

	.imagelightbox-arrow:hover,
	.imagelightbox-arrow:focus {
		background-color: #666;
		background-color: rgba(0, 0, 0, 0.75);
	}

	.imagelightbox-arrow:active {
		background-color: #111;
	}

.imagelightbox-arrow-left {
	left: 2.5em;
	/* 40 */
}

.imagelightbox-arrow-right {
	right: 2.5em;
	/* 40 */
}

.imagelightbox-arrow:before {
	width: 0;
	height: 0;
	border: 1em solid transparent;
	content: '';
	display: inline-block;
	margin-bottom: -0.125em;
	/* 2 */
}

.imagelightbox-arrow-left:before {
	border-left: none;
	border-right-color: #fff;
	margin-left: -0.313em;
	/* 5 */
}

.imagelightbox-arrow-right:before {
	border-right: none;
	border-left-color: #fff;
	margin-right: -0.313em;
	/* 5 */
}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow {
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 41.25em) {
	#container {
		width: 100%;
	}

	#imagelightbox-close {
		top: 1.25em;
		/* 20 */
		right: 1.25em;
		/* 20 */
	}

	#imagelightbox-nav {
		bottom: 1.25em;
		/* 20 */
	}

	.imagelightbox-arrow {
		width: 2.5em;
		/* 40 */
		height: 3.75em;
		/* 60 */
		margin-top: -2.75em;
		/* 30 */
	}

	.imagelightbox-arrow-left {
		left: 1.25em;
		/* 20 */
	}

	.imagelightbox-arrow-right {
		right: 1.25em;
		/* 20 */
	}
}

@media only screen and (max-width: 20em) {
	.imagelightbox-arrow-left {
		left: 0;
	}

	.imagelightbox-arrow-right {
		right: 0;
	}
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

	.container:after {
		content: " ";
		clear: both;
		display: block;
		overflow: hidden;
		height: 0;
	}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1;
}

	.container-fluid:after {
		content: " ";
		clear: both;
		display: block;
		overflow: hidden;
		height: 0;
	}

.row {
	margin-left: -15px;
	margin-right: -15px;
	*zoom: 1;
}

	.row:after {
		content: " ";
		clear: both;
		display: block;
		overflow: hidden;
		height: 0;
	}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .counter, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .feature-grid .feature, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .counter, .col-sm-6, .feature-grid .feature, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .counter, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}

.col-xs-1 {
	width: 8.33333%;
}

.col-xs-2 {
	width: 16.66667%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.33333%;
}

.col-xs-5 {
	width: 41.66667%;
}

.col-xs-6, .counter {
	width: 50%;
}

.col-xs-7 {
	width: 58.33333%;
}

.col-xs-8 {
	width: 66.66667%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83.33333%;
}

.col-xs-11 {
	width: 91.66667%;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-pull-1 {
	right: 8.33333%;
}

.col-xs-pull-2 {
	right: 16.66667%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-4 {
	right: 33.33333%;
}

.col-xs-pull-5 {
	right: 41.66667%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 58.33333%;
}

.col-xs-pull-8 {
	right: 66.66667%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-10 {
	right: 83.33333%;
}

.col-xs-pull-11 {
	right: 91.66667%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-push-1 {
	left: 8.33333%;
}

.col-xs-push-2 {
	left: 16.66667%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-4 {
	left: 33.33333%;
}

.col-xs-push-5 {
	left: 41.66667%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-7 {
	left: 58.33333%;
}

.col-xs-push-8 {
	left: 66.66667%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-10 {
	left: 83.33333%;
}

.col-xs-push-11 {
	left: 91.66667%;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.col-xs-offset-1 {
	margin-left: 8.33333%;
}

.col-xs-offset-2 {
	margin-left: 16.66667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.33333%;
}

.col-xs-offset-5 {
	margin-left: 41.66667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.33333%;
}

.col-xs-offset-8 {
	margin-left: 66.66667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.33333%;
}

.col-xs-offset-11 {
	margin-left: 91.66667%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .feature-grid .feature, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}

	.col-sm-1 {
		width: 8.33333%;
	}

	.col-sm-2 {
		width: 16.66667%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.33333%;
	}

	.col-sm-5 {
		width: 41.66667%;
	}

	.col-sm-6, .feature-grid .feature {
		width: 50%;
	}

	.col-sm-7 {
		width: 58.33333%;
	}

	.col-sm-8 {
		width: 66.66667%;
	}

	.col-sm-9 {
		width: 75%;
	}

	.col-sm-10 {
		width: 83.33333%;
	}

	.col-sm-11 {
		width: 91.66667%;
	}

	.col-sm-12 {
		width: 100%;
	}

	.col-sm-pull-0 {
		right: auto;
	}

	.col-sm-pull-1 {
		right: 8.33333%;
	}

	.col-sm-pull-2 {
		right: 16.66667%;
	}

	.col-sm-pull-3 {
		right: 25%;
	}

	.col-sm-pull-4 {
		right: 33.33333%;
	}

	.col-sm-pull-5 {
		right: 41.66667%;
	}

	.col-sm-pull-6 {
		right: 50%;
	}

	.col-sm-pull-7 {
		right: 58.33333%;
	}

	.col-sm-pull-8 {
		right: 66.66667%;
	}

	.col-sm-pull-9 {
		right: 75%;
	}

	.col-sm-pull-10 {
		right: 83.33333%;
	}

	.col-sm-pull-11 {
		right: 91.66667%;
	}

	.col-sm-pull-12 {
		right: 100%;
	}

	.col-sm-push-0 {
		left: auto;
	}

	.col-sm-push-1 {
		left: 8.33333%;
	}

	.col-sm-push-2 {
		left: 16.66667%;
	}

	.col-sm-push-3 {
		left: 25%;
	}

	.col-sm-push-4 {
		left: 33.33333%;
	}

	.col-sm-push-5 {
		left: 41.66667%;
	}

	.col-sm-push-6 {
		left: 50%;
	}

	.col-sm-push-7 {
		left: 58.33333%;
	}

	.col-sm-push-8 {
		left: 66.66667%;
	}

	.col-sm-push-9 {
		left: 75%;
	}

	.col-sm-push-10 {
		left: 83.33333%;
	}

	.col-sm-push-11 {
		left: 91.66667%;
	}

	.col-sm-push-12 {
		left: 100%;
	}

	.col-sm-offset-0 {
		margin-left: 0%;
	}

	.col-sm-offset-1 {
		margin-left: 8.33333%;
	}

	.col-sm-offset-2 {
		margin-left: 16.66667%;
	}

	.col-sm-offset-3 {
		margin-left: 25%;
	}

	.col-sm-offset-4 {
		margin-left: 33.33333%;
	}

	.col-sm-offset-5 {
		margin-left: 41.66667%;
	}

	.col-sm-offset-6 {
		margin-left: 50%;
	}

	.col-sm-offset-7 {
		margin-left: 58.33333%;
	}

	.col-sm-offset-8 {
		margin-left: 66.66667%;
	}

	.col-sm-offset-9 {
		margin-left: 75%;
	}

	.col-sm-offset-10 {
		margin-left: 83.33333%;
	}

	.col-sm-offset-11 {
		margin-left: 91.66667%;
	}

	.col-sm-offset-12 {
		margin-left: 100%;
	}
}

@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .counter, .col-md-4, .feature-grid .feature, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	.col-md-1 {
		width: 8.33333%;
	}

	.col-md-2 {
		width: 16.66667%;
	}

	.col-md-3, .counter {
		width: 25%;
	}

	.col-md-4, .feature-grid .feature {
		width: 33.33333%;
	}

	.col-md-5 {
		width: 41.66667%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33333%;
	}

	.col-md-8 {
		width: 66.66667%;
	}

	.col-md-9 {
		width: 75%;
	}

	.col-md-10 {
		width: 83.33333%;
	}

	.col-md-11 {
		width: 91.66667%;
	}

	.col-md-12 {
		width: 100%;
	}

	.col-md-pull-0 {
		right: auto;
	}

	.col-md-pull-1 {
		right: 8.33333%;
	}

	.col-md-pull-2 {
		right: 16.66667%;
	}

	.col-md-pull-3 {
		right: 25%;
	}

	.col-md-pull-4 {
		right: 33.33333%;
	}

	.col-md-pull-5 {
		right: 41.66667%;
	}

	.col-md-pull-6 {
		right: 50%;
	}

	.col-md-pull-7 {
		right: 58.33333%;
	}

	.col-md-pull-8 {
		right: 66.66667%;
	}

	.col-md-pull-9 {
		right: 75%;
	}

	.col-md-pull-10 {
		right: 83.33333%;
	}

	.col-md-pull-11 {
		right: 91.66667%;
	}

	.col-md-pull-12 {
		right: 100%;
	}

	.col-md-push-0 {
		left: auto;
	}

	.col-md-push-1 {
		left: 8.33333%;
	}

	.col-md-push-2 {
		left: 16.66667%;
	}

	.col-md-push-3 {
		left: 25%;
	}

	.col-md-push-4 {
		left: 33.33333%;
	}

	.col-md-push-5 {
		left: 41.66667%;
	}

	.col-md-push-6 {
		left: 50%;
	}

	.col-md-push-7 {
		left: 58.33333%;
	}

	.col-md-push-8 {
		left: 66.66667%;
	}

	.col-md-push-9 {
		left: 75%;
	}

	.col-md-push-10 {
		left: 83.33333%;
	}

	.col-md-push-11 {
		left: 91.66667%;
	}

	.col-md-push-12 {
		left: 100%;
	}

	.col-md-offset-0 {
		margin-left: 0%;
	}

	.col-md-offset-1 {
		margin-left: 8.33333%;
	}

	.col-md-offset-2 {
		margin-left: 16.66667%;
	}

	.col-md-offset-3 {
		margin-left: 25%;
	}

	.col-md-offset-4 {
		margin-left: 33.33333%;
	}

	.col-md-offset-5 {
		margin-left: 41.66667%;
	}

	.col-md-offset-6 {
		margin-left: 50%;
	}

	.col-md-offset-7 {
		margin-left: 58.33333%;
	}

	.col-md-offset-8 {
		margin-left: 66.66667%;
	}

	.col-md-offset-9 {
		margin-left: 75%;
	}

	.col-md-offset-10 {
		margin-left: 83.33333%;
	}

	.col-md-offset-11 {
		margin-left: 91.66667%;
	}

	.col-md-offset-12 {
		margin-left: 100%;
	}
}

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}

	.col-lg-1 {
		width: 8.33333%;
	}

	.col-lg-2 {
		width: 16.66667%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33333%;
	}

	.col-lg-5 {
		width: 41.66667%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33333%;
	}

	.col-lg-8 {
		width: 66.66667%;
	}

	.col-lg-9 {
		width: 75%;
	}

	.col-lg-10 {
		width: 83.33333%;
	}

	.col-lg-11 {
		width: 91.66667%;
	}

	.col-lg-12 {
		width: 100%;
	}

	.col-lg-pull-0 {
		right: auto;
	}

	.col-lg-pull-1 {
		right: 8.33333%;
	}

	.col-lg-pull-2 {
		right: 16.66667%;
	}

	.col-lg-pull-3 {
		right: 25%;
	}

	.col-lg-pull-4 {
		right: 33.33333%;
	}

	.col-lg-pull-5 {
		right: 41.66667%;
	}

	.col-lg-pull-6 {
		right: 50%;
	}

	.col-lg-pull-7 {
		right: 58.33333%;
	}

	.col-lg-pull-8 {
		right: 66.66667%;
	}

	.col-lg-pull-9 {
		right: 75%;
	}

	.col-lg-pull-10 {
		right: 83.33333%;
	}

	.col-lg-pull-11 {
		right: 91.66667%;
	}

	.col-lg-pull-12 {
		right: 100%;
	}

	.col-lg-push-0 {
		left: auto;
	}

	.col-lg-push-1 {
		left: 8.33333%;
	}

	.col-lg-push-2 {
		left: 16.66667%;
	}

	.col-lg-push-3 {
		left: 25%;
	}

	.col-lg-push-4 {
		left: 33.33333%;
	}

	.col-lg-push-5 {
		left: 41.66667%;
	}

	.col-lg-push-6 {
		left: 50%;
	}

	.col-lg-push-7 {
		left: 58.33333%;
	}

	.col-lg-push-8 {
		left: 66.66667%;
	}

	.col-lg-push-9 {
		left: 75%;
	}

	.col-lg-push-10 {
		left: 83.33333%;
	}

	.col-lg-push-11 {
		left: 91.66667%;
	}

	.col-lg-push-12 {
		left: 100%;
	}

	.col-lg-offset-0 {
		margin-left: 0%;
	}

	.col-lg-offset-1 {
		margin-left: 8.33333%;
	}

	.col-lg-offset-2 {
		margin-left: 16.66667%;
	}

	.col-lg-offset-3 {
		margin-left: 25%;
	}

	.col-lg-offset-4 {
		margin-left: 33.33333%;
	}

	.col-lg-offset-5 {
		margin-left: 41.66667%;
	}

	.col-lg-offset-6 {
		margin-left: 50%;
	}

	.col-lg-offset-7 {
		margin-left: 58.33333%;
	}

	.col-lg-offset-8 {
		margin-left: 66.66667%;
	}

	.col-lg-offset-9 {
		margin-left: 75%;
	}

	.col-lg-offset-10 {
		margin-left: 83.33333%;
	}

	.col-lg-offset-11 {
		margin-left: 91.66667%;
	}

	.col-lg-offset-12 {
		margin-left: 100%;
	}
}

@-ms-viewport {
	width: device-width;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
	display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

@media (max-width: 767px) {
	.visible-xs {
		display: block !important;
	}

	table.visible-xs {
		display: table;
	}

	tr.visible-xs {
		display: table-row !important;
	}

	th.visible-xs,
	td.visible-xs {
		display: table-cell !important;
	}
}

@media (max-width: 767px) {
	.visible-xs-block {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.visible-xs-inline {
		display: inline !important;
	}
}

@media (max-width: 767px) {
	.visible-xs-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm {
		display: block !important;
	}

	table.visible-sm {
		display: table;
	}

	tr.visible-sm {
		display: table-row !important;
	}

	th.visible-sm,
	td.visible-sm {
		display: table-cell !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-block {
		display: block !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-inline {
		display: inline !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.visible-sm-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md {
		display: block !important;
	}

	table.visible-md {
		display: table;
	}

	tr.visible-md {
		display: table-row !important;
	}

	th.visible-md,
	td.visible-md {
		display: table-cell !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-block {
		display: block !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-inline {
		display: inline !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.visible-md-inline-block {
		display: inline-block !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg {
		display: block !important;
	}

	table.visible-lg {
		display: table;
	}

	tr.visible-lg {
		display: table-row !important;
	}

	th.visible-lg,
	td.visible-lg {
		display: table-cell !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg-block {
		display: block !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg-inline {
		display: inline !important;
	}
}

@media (min-width: 1200px) {
	.visible-lg-inline-block {
		display: inline-block !important;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

.visible-print {
	display: none !important;
}

@media print {
	.visible-print {
		display: block !important;
	}

	table.visible-print {
		display: table;
	}

	tr.visible-print {
		display: table-row !important;
	}

	th.visible-print,
	td.visible-print {
		display: table-cell !important;
	}
}

.visible-print-block {
	display: none !important;
}

@media print {
	.visible-print-block {
		display: block !important;
	}
}

.visible-print-inline {
	display: none !important;
}

@media print {
	.visible-print-inline {
		display: inline !important;
	}
}

.visible-print-inline-block {
	display: none !important;
}

@media print {
	.visible-print-inline-block {
		display: inline-block !important;
	}
}

@media print {
	.hidden-print {
		display: none !important;
	}
}
/*
 * Header Styles
 */
.site-header {
	background-color: #1b1b1b;
	color: white;
}

.header-collapse .site-header {
	background: transparent;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 9;
}

	.header-collapse .site-header .container:before {
		display: none;
	}

.site-header .container {
	*zoom: 1;
	padding: 50px 0;
	position: relative;
}

	.site-header .container:after {
		content: " ";
		clear: both;
		display: block;
		overflow: hidden;
		height: 0;
	}

	.site-header .container:before {
		content: " ";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: #f63f3f;
	}

#branding {
	float: left;
}

	#branding .logo, #branding .site-title {
		display: inline-block;
		vertical-align: middle;
	}

	#branding .logo {
		margin-right: 15px;
	}

	#branding .site-title {
		font-size: 18px;
		font-size: 1.125em;
		margin: 0;
		color: #f63f3f;
	}

		#branding .site-title span {
			color: white;
		}

.menu-toggle {
	background-color: transparent;
	color: white;
	padding: 10px 20px;
	border: none;
	outline: none;
	font-size: 20px;
	font-size: 1.25em;
	display: none;
}

@media screen and (max-width: 990px) {
	.menu-toggle {
		display: block;
	}
}

@media screen and (min-width: 991px) {
	.menu-toggle {
		display: none !important;
	}
}

.mobile-navigation {
	clear: both;
	padding: 50px 20px 0;
	display: none;
}

	.mobile-navigation .menu {
		list-style: none;
		padding-left: 0;
		margin: 0;
		background: #1b1b1b;
	}

		.mobile-navigation .menu a {
			color: white;
			padding: 10px 20px;
			display: block;
			font-family: "Titillium Web", "Open Sans", sans-serif;
			border-left: 4px solid transparent;
			transition: .3s ease;
		}

		.mobile-navigation .menu .current-menu-item a, .mobile-navigation .menu .menu-item:hover a {
			border-left: 4px solid #f63f3f;
		}

.main-navigation {
	float: right;
}

	.main-navigation .menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}

@media screen and (min-width: 991px) {
	.main-navigation .menu {
		display: block !important;
	}
}

@media screen and (max-width: 990px) {
	.main-navigation .menu {
		display: none;
	}
}

.main-navigation .menu-item {
	display: inline-block;
	padding: 0 10px;
}

	.main-navigation .menu-item a {
		padding: 10px;
		border-bottom: 3px solid transparent;
		color: white;
		font-family: "Titillium Web", "Open Sans", sans-serif;
		text-transform: uppercase;
		font-size: 14px;
		font-size: 0.875em;
		font-weight: 700;
		transition: .3s ease;
	}

	.main-navigation .menu-item.current-menu-item a, .main-navigation .menu-item:hover a {
		border-bottom: 3px solid #f63f3f;
	}

/*
 * Sidebar Styles
 */
.content .entry-title {
	font-size: 36px;
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.5;
	margin: 50px 0;
}

.content p {
	font-size: 18px;
	font-size: 1.125em;
	line-height: 1.5;
	font-weight: 100;
	margin-bottom: 40px;
}

.content figure {
	text-align: center;
	margin-bottom: 40px;
}

	.content figure img {
		max-width: 100%;
		height: auto;
	}

	.content figure.block img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*
 * Footer Styles
 */
.site-footer {
	background-color: #1b1b1b;
	padding: 80px 0;
	text-align: center;
}

.subscribe-form {
	margin-bottom: 30px;
}

	.subscribe-form form input, .subscribe-form form button {
		vertical-align: middle;
		outline: none;
		display: inline-block;
		margin-bottom: 0;
	}

	.subscribe-form form input {
		border: 4px solid white;
		color: white;
		border-right: none;
		background-color: transparent;
		padding: 10px 20px;
		width: 50%;
		height: 70px;
		transition: .3s ease;
	}

		.subscribe-form form input:hover, .subscribe-form form input:focus, .subscribe-form form input:hover + button, .subscribe-form form input:focus + button {
			border-color: #f63f3f;
		}

	.subscribe-form form button {
		height: 70px;
		padding: 15px 20px 10px;
		background-color: transparent;
		border: 4px solid white;
		margin-left: -10px;
		transition: .3s ease;
	}

		.subscribe-form form button:hover, .subscribe-form form button:active {
			background-color: #f63f3f;
		}

.social-links {
	margin-bottom: 30px;
}

	.social-links a {
		color: #929292;
		display: inline-block;
		padding: 10px;
		transition: .3s ease;
	}

		.social-links a:hover {
			color: #f63f3f;
		}

.copy {
	font-size: 15px;
	font-size: 0.9375em;
}

.hero-slider {
	position: relative;
	background-color: #1b1b1b;
}

	.hero-slider .slides {
		list-style: none;
		padding: 0;
		margin: 0;
		*zoom: 1;
	}

		.hero-slider .slides:after {
			content: " ";
			clear: both;
			display: block;
			overflow: hidden;
			height: 0;
		}

		.hero-slider .slides li {
			padding-top: 150px;
			min-height: 790px;
			float: left;
			margin-right: -100%;
			width: 100%;
			text-align: center;
			color: white;
		}

		.hero-slider .slides .slide-title {
			font-weight: 400;
			margin-top: 50px;
			margin-bottom: 30px;
			color: white;
			font-size: 90px;
			font-size: 5.625em;
			line-height: 1;
		}

		.hero-slider .slides .slide-desc {
			margin-bottom: 30px;
			font-size: 20px;
			font-size: 1.25em;
			font-family: "Titillium Web", "Open Sans", sans-serif;
		}

	.hero-slider .flex-control-paging {
		list-style: none;
		padding-left: 0;
		margin: 0;
		text-align: center;
		position: absolute;
		bottom: 30px;
		width: 100%;
		left: 0;
		z-index: 5;
	}

		.hero-slider .flex-control-paging li {
			display: inline-block;
			margin: 0 2px;
		}

			.hero-slider .flex-control-paging li a {
				display: block;
				width: 50px;
				height: 5px;
				background: white;
				overflow: hidden;
				text-indent: -9999px;
				cursor: pointer;
				transition: .3 ease;
			}

				.hero-slider .flex-control-paging li a.flex-active {
					background: #f63f3f;
				}
