﻿@{
	ViewBag.Title = "Home Page";
}

@section styles {

}

<h1>Konfiguration Kfz</h1>


<div class="col-lg-12">
	<form>
		<div class=" container">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						<label for="auto" class="col-sm-6 col-form-label">Auto</label>
						<div class="col-sm-6">
							<select class="form-control" id="auto" data-bind="options: autoModel.autos, optionsValue: 'Seqid', optionsText: 'AutoName',optionsCaption: 'Choosen..',
				value:selectedAuto"></select>
						</div>
					</div>
					<div class="form-group row">
						<label for="farbe" class="col-sm-6 col-form-label">Farbe</label>
						<div class="col-sm-6">
							<select class="form-control" id="farbe" data-bind="options: autoModel.farbes, optionsValue: 'Seqid', optionsText: 'FarbeName',optionsCaption: 'Choosen..'
						, value:selectedFarbe"></select>
						</div>

					</div>
					<div class="form-group row">
						<label for="getriebe" class="col-sm-6 col-form-label">Getriebe</label>
						<div class="col-sm-6">
							<select class="form-control" id="getriebe" data-bind="options: autoModel.getriebes, optionsValue: 'Seqid', optionsText: 'GetriebeName',optionsCaption: 'Choosen..'
						, value:selectedGetriebe"></select>
						</div>

					</div>
					<div class="form-group row">
						<label for="motoleistung" class="col-sm-6 col-form-label">Motoleistung</label>
						<div class="col-sm-6">
							<select class="form-control" id="motoleistung" data-bind="options: autoModel.motoleistunges, optionsValue: 'Seqid', optionsText: 'MotoleistungName',optionsCaption: 'Choosen..'
						, value:selectedMotoleistung"></select>
						</div>

					</div>
					<div class="form-group row">
						<label for="felgen" class="col-sm-6 col-form-label">Felgen</label>
						<div class="col-sm-6">
							<select class="form-control" id="felgen" data-bind="options: autoModel.felgenes, optionsValue: 'Seqid', optionsText: 'FelgenName',optionsCaption: 'Choosen..'
						, value:selectedFelgen"></select>
						</div>

					</div>

					@*Sonderausstattungen*@
					<div class="form-group row">
						<label for="sonderausstattungen" class="col-sm-6 col-form-label">Sonderausstattungen</label>
						<div class="col-sm-6">
							<select height="10" multiple="multiple" class="form-control" id="sonderausstattungen" data-bind="options: autoModel.sonderausstattungenes, optionsValue: 'Seqid', optionsText: 'SonderausstattungenName',optionsCaption: 'Choosen..'
					, value:selectedSonderausstattung"></select>
						</div>

					</div>
					<div class="form-group row">
						<div class="col-sm-5">
						</div>
						<div class="col-sm-3">
							<strong type="text" readonly class="form-control-plaintext" id="sonderausstattungenPrice" data-bind="text: autoModel.priceSumme"></strong>
						</div>

					</div>

					<div class="form-group row">
						<label for="sonderausstattungen" class="col-sm-4 col-form-label"> </label>
						<div class="col-sm-5">
							<input type="button" class="btn btn-primary" value="Weiter" data-bind="click:PreviewOrderPayment">
						</div>
					</div>

					@*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
				</div>
				<div class="col-md-6" style="text-size-adjust:50%">
					<div class=" form-group-row">
						<p></p>
					</div>
					<div class=" form-group-row">


						<p class="col-xs-7"><text type="text" readonly class="form-control-plaintext" id="farbeName" data-bind="text: autoModel.farbeName"></text></p>
						<p class="col-xs-3" style="text-align:right"><strong type="text" readonly class="form-control-plaintext" id="farbePrice" data-bind="text: autoModel.selectedFarbePrice"></strong></p>
						<p class="col-xs-2">
					</div>

					<div class=" form-group-row">

						<p class="col-xs-7"><text type="text" readonly class="form-control-plaintext" id="getriebeName" data-bind="text: autoModel.getriebeName"></text></p>
						<p class="col-xs-3" style="text-align:right"><strong type="text" readonly class="form-control-plaintext" id="getriebePrice" data-bind="text: autoModel.selectedGetriebePrice"></strong></p>
						<p class="col-xs-2">
					</div>

					<div class=" form-group-row">

						<p class="col-xs-7"><text type="text" readonly class="form-control-plaintext" id="motoleistungName" data-bind="text: autoModel.motoleistungName"></text></p>
						<p class="col-xs-3" style="text-align:right"><strong type="text" readonly class="form-control-plaintext" id="motoleistungPrice" data-bind="text: autoModel.selectedMotoleistungPrice"></strong></p>
						<p class="col-xs-2">
					</div>

					<div class=" form-group-row">

						<p class="col-xs-7"><text type="text" readonly class="form-control-plaintext" id="felgenName" data-bind="text: autoModel.felgenName"></text></p>
						<p class="col-xs-3" style="text-align:right"><strong type="text" readonly class="form-control-plaintext" id="felgenPrice" data-bind="text: autoModel.selectedFelgenPrice"></strong></p>
						<p class="col-xs-2">
					</div>

					@*<div data-bind="foreach: seats">*@
						<div class=" form-group-row" data-bind="foreach: seats">
							@*<td data-bind="text: name"></td>*@

							<p><text class="col-xs-7" data-bind="text: choosedAusstattungen().SonderausstattungenName"></text></p>
							<p><text class="col-xs-3" style="text-align:right" data-bind="text: choosedAusstattungen().SonderausstattungenPrice"></text></p>
							<p class="col-sm-2"><a data-bind="click: $root.removeSeat">Remove</a></p>
						</div>
					@*</div>*@
				</div>
			</div>
			@*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
			@*Model for Confirm( Bestätigung)*@
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<Strong class="form-control-plaintext">Bestätigung</Strong>
						<div class="form-group row">
							<div class="col-sm-6">
								@*<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.autos"></strong>*@
							</div>
							<div class="col-sm-6">
								@*<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.autos"></strong>*@
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.farbeName"></strong>
							</div>
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.selectedFarbePrice"></strong>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.getriebeName"></strong>
							</div>
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.selectedGetriebePrice"></strong>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.motoleistungName"></strong>
							</div>
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.selectedMotoleistungPrice"></strong>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.felgenName"></strong>
							</div>
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.selectedFelgenPrice"></strong>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.sonderausstattungenName"></strong>
							</div>
							<div class="col-sm-6">
								<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.selectedSonderausstattungenPrice"></strong>
							</div>
						</div>
						<div data-bind="foreach: seats">
							<div class="form-group row">
								<div class="col-sm-6">
									<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: choosedAusstattungen().SonderausstattungenName"></strong>
								</div>
								<div class="col-sm-6">
									<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: choosedAusstattungen().SonderausstattungenPrice"></strong>
								</div>
							</div>
						</div>
						<div class="form-group row">
							@*<strong typeof="text" class="form-control-plaintext" id="auto_content" data-bind="text: autoModel.summePrice"></strong>*@
							<div class="col-sm-6">
								<button type="button" class="btn btn-primary" data-bind="click: createOrderTicket">Bestellen</button>
							</div>
							<div class="col-sm-6">
							</div>
						</div>
					</div>
	</form>
</div>

@section head_scripts {
	<script src="http://knockoutjs.com/downloads/knockout-3.4.2.js"></script>
}

@section scripts {
	<script>
		function AutoModel() {
            var self = this;


            self.selectedAuto = ko.observable();
            self.selectedAutoId = 0;

			self.selectedFarbe = ko.observable();
            self.selectedFarbePrice = ko.observable();
            self.selectedFarbeId = 0;

			self.selectedGetriebe = ko.observable();
            self.selectedGetriebePrice = ko.observable();
            self.selectedGetriebeId = 0;

			self.selectedMotoleistung = ko.observable();
			self.selectedMotoleistungPrice = ko.observable();
            self.selectedMotoleistungId = 0;

			self.selectedFelgen = ko.observable();
            self.selectedFelgenPrice = ko.observable();
            self.selectedFelgenId = 0;

			self.selectedSonderausstattung = ko.observable();
			self.selectedSonderausstattungenPrice = ko.observable();
            self.selectedSonderausstattungId = 0;

            self.autos = ko.observableArray([]);

			self.farbes = ko.observableArray([]);

			self.getriebes = ko.observableArray([]);
			self.motoleistunges = ko.observableArray([]);

			self.felgenes = ko.observableArray([]);
			self.sonderausstattungenes = ko.observableArray([]);

			//another Attribute
			self.farbeName = ko.observable();
			self.getriebeName = ko.observable();
			self.motoleistungName = ko.observable();
			self.felgenName = ko.observable()
			self.sonderausstattungenName = ko.observable();

			self.Components = [];

			// Actions
            self.PreviewOrderPayment = function () {
                var autoIdSelected = self.selectedAutoId;
                var farbeIdSelected = self.selectedFarbeId;
                var getriebeSelected = self.selectedGetriebeId;
                var motoleistungSelected = self.selectedMotoleistungId;
                var felgenSelected = self.selectedFelgenId;
                var sonderausstattungeSelected = self.selectedSonderausstattungId;

				if (autoIdSelected === 0) {
					document.getElementById("auto").style.color = "#ff0000";//red
					alert("Please select specific auto.");
					return;
				} else {
					document.getElementById("auto").style.color = "black";
				}
				if (farbeIdSelected === 0 || getriebeSelected === 0 || motoleistungSelected === 0 || felgenSelected === 0) {
					//&& sonderausstattungeSelected === 0 all cannot be null accept sonderausstattungen

					document.getElementById("farbe").style.color = "#ff0000";//red
					document.getElementById("getriebe").style.color = "#ff0000";//red
					document.getElementById("motoleistung").style.color = "#ff0000";//red
					document.getElementById("felgen").style.color = "#ff0000";//red
					alert("Please fill All required Fields.");
                    return;
				}
                $(".bs-example-modal-sm").modal('show')
            }

            self.createOrderTicket = function () {
                var autoIdSelected = self.selectedAutoId;
                var farbeIdSelected = self.selectedFarbeId;
                var getriebeSelected = self.selectedGetriebeId;
                var motoleistungSelected = self.selectedMotoleistungId;
                var felgenSelected = self.selectedFelgenId;
                var sonderausstattungeSelected = self.selectedSonderausstattungId;

                var orderTicket = new Object();
                orderTicket.AutoNumber = autoIdSelected;
                orderTicket.FaberId = farbeIdSelected;
                orderTicket.GetriebeId = getriebeSelected;
                orderTicket.MotoleistungId = motoleistungSelected;
                orderTicket.FelgeneId = felgenSelected;
                orderTicket.SonderausstattungenesIds = self.Components;
                var requestOrder = new Object();
                requestOrder.request = orderTicket;
                var jsondata = JSON.stringify(requestOrder);
                $.ajax({
				    url: "@Url.Action("CreateTicketOrder")",
				    type: "post",
				    contentType: "application/json",
                    dataType: "json",
                    data: jsondata,
				    success: function (data) {
					    console.log(data);
                        if (data.Result === "success") {
                            window.location.href = data.Message;
                        } else {
                            alert(data.Message);
                        }
                        self.Components = [];
                        self.seats.removeAll();
				    },
				    error: function (jqXHR, s, e) {
					    //console.log(s);
					    //console.log(e);
				    }
			    });
            }


			//get All Autos
			$.ajax({
				url: "@Url.Action("GetAutos")",
				type: "get",
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					console.log("GetAutosdata"+data);
                    self.autos(data);
				},
				error: function (jqXHR, s, e) {
					//console.log(s);
					//console.log(e);
				}
			});

			//getFarbesByAuto
            self.selectedAuto.subscribe(function (autoid) {
                //if (self.IsValidAutoId(autoid) === false)
                //{
                //    return;
				//}
				//self.farbes([]);
				$.ajax({
					url: "@Url.Action("GetFarbesByAuto")",
					data: { autonumber: autoid },
				type: "get",
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
                    self.selectedAutoId = autoid;
					self.farbes(data);
				}
			    });
			});

			//getGetriebesByAuto
            self.selectedAuto.subscribe(function (autoid) {
                //if (self.IsValidAutoId(autoid) === false) {
                //    return;
                //}
				//self.getriebes.removeAll();
				$.ajax({
					url: "@Url.Action("GetGetriebesByAuto")",
					data: { autonumber: autoid },
				type: "get",
				contentType: "application/json",
				dataType: "json",
                success: function (data) {
                    self.selectedAutoId = autoid;
					self.getriebes(data);
				}
			});
			});

			//GetMotoleistungesByAuto
            self.selectedAuto.subscribe(function (autoid) {
                //if (self.IsValidAutoId(autoid) === false) {
                //    return;
                //}
				//self.motoleistunges.removeAll();
				$.ajax({
					url: "@Url.Action("GetMotoleistungesByAuto")",
					data: { autonumber: autoid },
				type: "get",
				contentType: "application/json",
				dataType: "json",
                success: function (data) {
                    self.selectedAutoId = autoid;
					self.motoleistunges(data);
				}
			});
			});

			//GetFelgenesByAuto
            self.selectedAuto.subscribe(function (autoid) {
                //if (self.IsValidAutoId(autoid) === false) {
                //    return;
                //}
				//self.felgenes.removeAll();
				$.ajax({
					url: "@Url.Action("GetFelgenesByAuto")",
					data: { autonumber: autoid },
				type: "get",
				contentType: "application/json",
				dataType: "json",
                success: function (data) {
                    self.selectedAutoId = autoid;
					self.felgenes(data);
				}
			});
			});

			//GetSonderausstattungenesByAuto
            self.selectedAuto.subscribe(function (autoid) {
                //if (self.IsValidAutoId(autoid) === false) {
                //    return;
                //}
				//self.sonderausstattungenes.removeAll();
				$.ajax({
					url: "@Url.Action("GetSonderausstattungenesByAuto")",
					data: { autonumber: autoid },
				type: "get",
				contentType: "application/json",
				dataType: "json",
                success: function (data) {
                    self.selectedAutoId = autoid;
					self.sonderausstattungenes(data);
				}
			});
			});



			//return variables of PriceObj

			self.selectedFarbe.subscribe(function (farbeid) {
				//self.selectedFarbePrice.removeAll();
				console.log("farbeid"+farbeid);
				farbeObj = ko.utils.arrayFirst(self.farbes(), function (farbe) {
					console.log(farbe);
					return farbe.Seqid == farbeid;
                });
                //if (farbeObj === null) {
                //    self.selectedFarbeId = 0;
                //    self.selectedFarbePrice("");
                //} else {
                    self.selectedFarbeId = farbeObj.Seqid;
					self.selectedFarbePrice(farbeObj.FarbePrice);//+ " Eu"
					self.farbeName( farbeObj.FarbeName);
                //}
			});


			self.selectedGetriebe.subscribe(function (getriebeid) {
				//self.selectedGetriebePrice.removeAll();

				console.log("Getriebeid" + getriebeid);
				getriebeObj = ko.utils.arrayFirst(self.getriebes(), function (getriebe) {

					return getriebe.Seqid == getriebeid;
                });
                //if (getriebeObj === null) {
                //    self.selectedGetriebeId = 0;
                //    self.selectedGetriebePrice("");
                //} else {
                    self.selectedGetriebeId = getriebeObj.Seqid;
					self.selectedGetriebePrice(getriebeObj.GetriebePrice);// + " Eu"
					self.getriebeName(getriebeObj.GetriebeName);
                //}
			});


			self.selectedMotoleistung.subscribe(function (motoleistungid) {
				//self.selectedMotoleistungPrice.removeAll();

				console.log("Motoleistungid" + motoleistungid);
				motoleistungObj = ko.utils.arrayFirst(self.motoleistunges(), function (motoleistung) {
					console.log(motoleistung);
					return motoleistung.Seqid == motoleistungid;
                });
                //if (motoleistungObj === null) {
                //    self.selectedMotoleistungId = 0;
                //    self.selectedMotoleistungPrice("");
                //} else {
                    self.selectedMotoleistungId = motoleistungObj.Seqid;
					self.selectedMotoleistungPrice(motoleistungObj.MotoleistungPrice); //+ " Eu"
					self.motoleistungName(motoleistungObj.MotoleistungName);
                //}
			});


			self.selectedFelgen.subscribe(function (felgenid) {
				//self.selectedFelgenPrice.removeAll();

				felgenObj = ko.utils.arrayFirst(self.felgenes(), function (felgen) {
					return felgen.Seqid == felgenid;
                });
                //if (felgenObj === null) {
                //    self.selectedFelgenId = 0;
                //    self.selectedFelgenPrice("");
                //} else {
                    self.selectedFelgenId = felgenObj.Seqid;
					self.selectedFelgenPrice(felgenObj.FelgenPrice); //+ " Eu"
					self.felgenName(felgenObj.FelgenName);
                //}
			});


			self.selectedSonderausstattung.subscribe(function (Sonderausstattungenid) {

				//self.selectedSonderausstattungenPrice.removeAll();

				SonderausstattungenObj = ko.utils.arrayFirst(self.sonderausstattungenes(), function (sonderausstattungen) {
					return sonderausstattungen.Seqid == Sonderausstattungenid;
				});
				//if (SonderausstattungenObj == null) {
				//    self.selectedSonderausstattungId = 0;
				//    self.selectedSonderausstattungenPrice("");
				//} else {
				self.selectedSonderausstattungId = SonderausstattungenObj.Seqid;
				self.selectedSonderausstattungenPrice(SonderausstattungenObj.SonderausstattungenPrice);//+ " Eu"
				self.sonderausstattungenName(SonderausstattungenObj.SonderausstattungenName)


				if (self.Components.length < 5){

					//self.seats.forEach(function (element) {
					//	//console.log("element: " + element.value());
					//	console.log("SonderausstattungenObj.SonderausstattungenName: " + SonderausstattungenObj.SonderausstattungenName);
					//	if (SonderausstattungenObj.SonderausstattungenName == element.SonderausstattungenName) {
					//		alert("Same sonderaussattung");
					//	}
					//});
					if (self.Components.includes(self.selectedSonderausstattungId) === false)
					{
						self.Components.push(self.selectedSonderausstattungId);//id=1; array()[0]
						self.seats.push(new SeatReservation(self.sonderausstattungenes()[SonderausstattungenObj.Seqid - 1], self.sonderausstattungenes()[SonderausstattungenObj.Seqid - 1]));
					}

				} else {

					alert("can choose max 5 Sonderaussattungen");
				}

			});

			//////////////////////////////////////////////////add Sonderausstattungen
			// Class to represent a row in the seat reservations grid
			function SeatReservation(initialChoosenSonderAustt) {//SonderausstattungenName,
				var self = this;
				//self.name = SonderausstattungenName;
				self.choosedAusstattungen = ko.observable(initialChoosenSonderAustt);
			}
			//cai nay la element cua sonderausstatungen
			//self.availableMeals = [
			//	{ SonderausstattungenName: "Standard (sandwich)", SonderausstattungenPrice: 0 },
			//];
			//cai nay la sonderausstatungen
			self.seats = ko.observableArray([
				//new SeatReservation(self.availableMeals[0]),
				//new SeatReservation(self.availableMeals[1])
			]);

			self.removeSeat = function (seat) {
				var id = seat.choosedAusstattungen().Seqid;
				var index = self.Components.indexOf(id);
				if (index > -1) {
					self.Components.splice(index, 1);
					self.seats.remove(seat)
				}


			}

			/////////////////////////////////////////////////////////////////////////////////////////

	}
	var autoModel = new AutoModel()
	//console.log(autoModel);
	//console.log(ko);
	ko.applyBindings(autoModel);
//});
	</script>
}