﻿@model KfzKonfiguration.EntityFramework.AutoTicket
@{
	ViewBag.Title = "Ticket";
}

@section styles {

}

<h1>Review Order</h1>


<div class="col-lg-12">
	@if (Model == null)
	{
		<table class="table table-striped table-inverse">
			<tr>
				<td>
					<p>Sorry, your ticket is invalid. Please call our Customer Service Center with your inquiries</p>
					<p class="text-center txtSize-large txtW-bold padding-b-20 padding-t-5">0077-7084<span class="txtSize-small"> (toll-free)</span></p>
				</td>
			</tr>
		</table>
	}
	else
	{
		<table class="table table-striped table-inverse">
			<tbody>
				<tr>
					<td>Ticket number</td>
					<td colspan="3">@Model.TicketNumber</td>
				</tr>
				<tr>
					<td>Auto code</td>
					<td colspan="3">@Model.AutoCode</td>
				</tr>
				<tr>
					<td>Auto name</td>
					<td colspan="3">@Model.AutoName</td>
				</tr>
				<tr>
					<td>Date order</td>
					<td colspan="3">@Model.CreatedDate</td>
				</tr>
				<tr>
					<td>Detail order</td>
					<td>Code</td>
					<td>Name</td>
					<td>Price</td>
				</tr>
				<tr>
					<td>Farbe</td>
					<td>@(Model.Farbes != null ? Model.Farbes.FarbeCode : "None")</td>
					<td>@(Model.Farbes != null ? Model.Farbes.FarbeName : "None")</td>
					<td>@(Model.Farbes != null ? Model.Farbes.Price.ToString() + " Eu" : "None")</td>
				</tr>
				<tr>
					<td>Getriebe</td>
					<td>@(Model.Getriebes != null ? Model.Getriebes.GetriebeCode : "None")</td>
					<td>@(Model.Getriebes != null ? Model.Getriebes.GetriebeName : "None")</td>
					<td>@(Model.Getriebes != null ? Model.Getriebes.Price.ToString() + " Eu" : "None")</td>
				</tr>
				<tr>
					<td>Motoleistung</td>
					<td>@(Model.Motoleistunges != null ? Model.Motoleistunges.MotoleistungCode : "None")</td>
					<td>@(Model.Motoleistunges != null ? Model.Motoleistunges.MotoleistungName : "None")</td>
					<td>@(Model.Motoleistunges != null ? Model.Motoleistunges.Price.ToString() + " Eu" : "None")</td>
				</tr>
				<tr>
					<td>Felgen</td>
					<td>@(Model.Felgenes != null ? Model.Felgenes.FelgenCode : "None")</td>
					<td>@(Model.Felgenes != null ? Model.Felgenes.FelgenName : "None")</td>
					<td>@(Model.Felgenes != null ? Model.Felgenes.Price.ToString() + " Eu" : "None")</td>
				</tr>
                @for(int i = 0; i < Model.Sonderausstattungenes.Count; i++)
                {
                    var component = Model.Sonderausstattungenes[i];
                    <tr>
                        <td>@(i == 0 ? "Sonderausstattungen" : string.Empty)</td>
                        <td>@(Model.Sonderausstattungenes != null ? component.SonderausstattungenCode : "None")</td>
                        <td>@(Model.Sonderausstattungenes != null ? component.SonderausstattungenName : "None")</td>
                        <td>@(Model.Sonderausstattungenes != null ? component.Price.ToString() + " Eu" : "None")</td>
                    </tr>
                }
				
				<tr>
					<td colspan="3">Total</td>
					<td>@(Model.TotalPrice.ToString() + " Eu")</td>
				</tr>
			</tbody>
		</table>
	}
</div>
